<ion-header>
  <ion-navbar>
    <ion-title>New Item</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          取消
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>    
    <ion-buttons end>
      <button ion-button (click)="done()" strong>
        <span color="primary" showWhen="ios">
          确定
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <div class="img-wrapper" (click)="getPicture()">
      <div class="img-btn" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add" margin padding-top></ion-icon>
        <div>add img</div>
      </div>
      <img [src]="this.form.controls.profilePic.value" alt="" class="img" *ngIf="this.form.controls.profilePic.value">
      <div ></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="name" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="about" formControlName="about"></ion-input>
      </ion-item>
    </ion-list>
    </form>
</ion-content>